## SQL Queries

**Groupby**

In [ ]:
"""
SELECT * FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);
"""

**Nested Query**

In [ ]:
"""
SELECT customerid,
       firstname,
       lastname
FROM customers
WHERE supportId IN (
      SELECT employeeid
      FROM employees
      WHERE country = 'Canada'
       );

In [ ]:
"""
SELECT albumid,
       title
  FROM albums
 WHERE 10000000 > (
                      SELECT sum(bytes) 
                        FROM tracks
                       WHERE tracks.AlbumId = albums.AlbumId
                  )
 ORDER BY title;
 """

**Nested Query with IN Clause**

In [ ]:
"""
SELECT d.Name as Department, e.name as Employee, e.Salary 
FROM Employee AS e 
JOIN Department AS d ON e.DepartmentId = d.Id 
WHERE (e.DepartmentId, e.Salary) IN
(SELECT DepartmentID, MAX(Salary)
    FROM Employee
    GROUP BY DepartmentID
)
"""

**Delete Row**

In [ ]:
"""
DELETE FROM COMPANY
   WHERE AGE IN (SELECT AGE FROM COMPANY_BKP
   WHERE AGE > 27 );
"""

**Update Table**

In [ ]:
"""
UPDATE COMPANY
SET SALARY = SALARY * 0.50;
"""

**Wildcards**

In [ ]:
"""
SELECT * FROM Customers WHERE City LIKE '%es%'
"""

#### JOINS
   - **INNER JOIN**: selects records that have matching values in both tables.

   - **LEFT JOIN** returns all records from the left table (table1), and the matched records from the right table (table2). The result is NULL from the right side, if there is no match. 

   - **RIGHT JOIN** returns all records from the right table (table2), and the matched records from the left table (table1). The result is NULL from the left side, when there is no match.

   - **OUTER JOIN** returns all records when there is a match in left (table1) or right (table2) table records.